//<script type="text/jsx">
function StepFiveAfirmative() {
  return(
    <div className="stepFiveAfirmative container">
      <span>Selecciona el AFP en donde deseas estar  </span>
      <div className="selectAfirmative">
        <select class="form-select" name ="AfpAfiliadaAnterior"   onChange={setDataForm} required>
          <option selected value="">Elige una AFP</option>
          <option value="Integra">Integra</option>
          <option value="SNP">SNP</option>
        </select>
      </div>
    </div>
      
  )}
//</script >