//<script type="text/jsx">
function StepFour() {
  const [activaSiguiente, setActivaSiguiente]= useState(false);
  const onHandleSubmit=(e)=>{
    e.preventDefault();
    setActivaSiguiente(true);
  }
  const [empleadorAnterior,setEmpleadorAnterior]=useState(false)
  const [domiciliadoState,setDomiciliadoState]=useState(false)
  const checkInput=(e)=>{
    setDataForm(e)
    
    if(e.target.name==="empleadorAnterior"){
      e.target.value==="si"?setEmpleadorAnterior(true):setEmpleadorAnterior(false)
    }
    if(e.target.name==="domiciliado"){
      e.target.value==="no"?setDomiciliadoState(true):setDomiciliadoState(false)
    }
  }
  return(
    <div className="container align-center min-vh-100">
      <div className="row containeFormPage ">
        <SuperiorFormBar
          actual={4}
          total={6}
          />
          <h4 className="mt-0 ">Renta de Quinta</h4>
      <form className="mt-2 " onSubmit={onHandleSubmit}>
        <div className="container">
          <div className="row col-sm-12 mx-0  my-3 px-0 position-relative">
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="col mb-4 mx-0 text-primary"><span className="text-danger">**</span>Empleador anterior en el ejercicio</div>
              <div class="checkBox shadow-sm  py-2 px-0  bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label px-0 " for="inlineRadio1">Si  </label>
                  <input class="form-check-input " type="radio"  name ="empleadorAnterior"  value="si" onChange={checkInput} required/> 
                </div>      
              </div>
              <div class="checkBox shadow-sm  py-2 px-0 mx-1 bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label  px-0" for="inlineRadio1">No</label>
                  <input class="form-check-input " type="radio" name="empleadorAnterior" value="no" onChange={checkInput}  required/> 
                </div>      
              </div>
              
            </div>
            {/************* */}
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="col mb-4 mx-0 text-primary"><span className="text-danger">**</span>Domiciliado</div>
              <div class="checkBox shadow-sm  py-2 px-0  bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label px-0" for="inlineRadio1">Sí </label>
                  <input class="form-check-input " type="radio"  name="domiciliado"  value="si" onChange={checkInput} required/> 
                </div>      
              </div>
              <div class="checkBox shadow-sm  py-2 px-0 mx-1 bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label  px-0"  for="inlineRadio1">No</label>
                  <input class="form-check-input " name="domiciliado"  type="radio" value="no" onChange={checkInput} required/> 
                </div>      
              </div>
              
            </div>
            {/************* */}
            {domiciliadoState?(
              <div className="col-sm-2 mx-0 w-auto gap-3 mx-1 px-3">
                <div class="shadow-sm  py-2 px-0 mx-3 bg-light">
                      <label for="exampleFormControlInput1" className="form-label">Días en Perú</label>
                      <input type="number" className="form-control" name="diasPeru"  onChange={ setDataForm}/>
                </div>
            </div>
            ):(<div></div>)}
            {domiciliadoState?(
             <div className="col-sm-2 position-absolute end-0 px-0">
               <div class="shadow-sm  py-2 px-0 ml-4 bg-light">
                     <label for="exampleFormControlInput1" className="form-label">Lugar de Nac.</label>
                     <input type="text" className="form-control" name="lugarNac"  onChange={setDataForm}/>
               </div>
             </div>
            
           ):(<div></div>)}
            
          </div>
          <div className="row col-sm-12 mx-0  my-3 px-0 position-relative">
          {empleadorAnterior?(
            <div className="col">
              <div className="mb-3">
                  <label  className="form-label text-danger"> * Adjunta tu certificado de retenciones de rentas</label>
                  <div className="adjuntarFirma" >
                    <input type="file" name = "certificadoRentas" onChange={loadIMG} />
                    </div>
                </div>
            </div>
          ):(
            <div className="col">
              <div className="mb-3">
                  <label   className="form-label text-secondary"> * Adjunta tu certificado de retenciones de rentas</label>
                  <div className=" disable adjuntarFirma" >
                    <input type="file" disabled={true}   />
                    </div>
                </div>
            </div>

          )}
           <div className="col">
            {domiciliadoState?(
              <div className="mb-3">
              <label  className="form-label text-danger">* Adjunta tu certificado de recursos humanos según sea el caso         </label>
              <div className="adjuntarFirma" >
                <input type="file" name = "certificadoRRHH" onChange={loadIMG} />
                </div>
            </div>
            ):(<div className="mb-3">
            <label  className="form-label text-secondary">* Adjunta tu certificado de recursos humanos según sea el caso         </label>
            <div className="adjuntarFirma" >
              <input type="file"disabled={true}    />
              </div>
          </div>)}
              
            </div>
          </div>

          <div className="row col-sm-12 mx-0  my-3 px-0 position-relative">
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="mb-3">
                <label for="exampleFormControlInput1" className="form-label  ">Fecha de último empleo</label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">
                    <span class="material-symbols-outlined">calendar_month</span>
                  </span>
                  <input type="date" name="fechaUltimoEmpleo" onChange={setDataForm} />
                </div>
              </div>
            </div>
            {/************* */}
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="col mb-4 mx-0 text-primary"><span className="text-danger">**</span>Informó otros ingresos de renta</div>
              <div class="checkBox shadow-sm  py-2 px-0  bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label px-0 " for="inlineRadio1">Sí </label>
                  <input class="form-check-input " type="radio" name="otrosIngresos"   type="radio" value="si" onChange={checkInput} required/> 
                </div>      
              </div>
              <div class="checkBox shadow-sm  py-2 px-0 mx-1 bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label  px-0" for="inlineRadio1">No</label>
                  <input class="form-check-input " name="otrosIngresos"   type="radio" value="no" onChange={checkInput} required/> 
                </div>      
              </div>
              
            </div>
            {/************* */}
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="col mb-4 mx-0 text-primary"><span className="text-danger">**</span>Estas afiliado a Essalud Vida</div>
              <div class="checkBox shadow-sm  py-2 px-0  bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label px-0 " for="inlineRadio1">Sí </label>
                  <input class="form-check-input "  name="essalud"   type="radio" value="si" onChange={checkInput} required/> 
                </div>      
              </div>
              <div class="checkBox shadow-sm  py-2 px-0 mx-1 bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label  px-0" for="inlineRadio1">No</label>
                  <input class="form-check-input " name="essalud"   type="radio" value="no" onChange={checkInput} required/> 
                </div>      
              </div>
              
            </div>
            <div className="col-sm-4 mx-0 w-25 px-3 ">
              <div className="col mb-4 mx-0 text-primary"><span className="text-danger">**</span>Prestó servicios simultáneos</div>
              <div class="checkBox shadow-sm  py-2 px-0  bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label px-0 " for="inlineRadio1">Sí </label>
                  <input class="form-check-input "  name="serviciosSimultaneos"    type="radio" value="si" onChange={checkInput} required/> 
                </div>      
              </div>
              <div class="checkBox shadow-sm  py-2 px-0 mx-1 bg-light">
                <div class="form-check form-check-inline  ">
                <label class="form-check-label  px-0" for="inlineRadio1">No</label>
                  <input class="form-check-input " name="serviciosSimultaneos"    type="radio" value="no" onChange={checkInput} required/> 
                </div>      
              </div>
              
            </div>
          </div>
          

          <div className="row col-sm-12 mx-0  my-3 px-0 position-relative">
          <div className="col-sm-4 mx-0 w-25 px-3 "><span className="text-danger">**</span><span className= "text-primary">Modalidades de pago</span></div>
          
            <div className="col-sm-4 mx-0 w-25 px-3 ">
                <select class="form-select" aria-label="Default select example" name="eligeCTS"  onChange={setDataForm} required>
                    <option selected value="">Elige CTS</option>
                    <option value="Soles">Soles</option>
                    {/* <option value="Dolares">Dolares</option> */}
              </select>
            </div>
            {/************* */}
            <div className="col-sm-4 mx-0 w-25 px-3 ">
                <select class="form-select" aria-label="Default select example" name="pagoHaberes"  onChange={setDataForm} required>
                    <option selected value="">Elige Pago de haberes</option>
                    <option value="Quincenal">Quincenal</option>
                    <option value="Mensual">Mensual</option>
              </select>
              
            </div>
            {/************* */}
            
            <div className="col-sm-2 position-absolute end-0 px-0">
              
            </div>
          </div>
          
        </div>
        <footer className="container navigationFooterBar">
          <div className="position-relative">
            <div className="back position-absolute top-50 start-0">
              <NavLink to= {"/paso-3"} className= "btn backBTN"> 
                <div className="arrowBack">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 16.094 11">
                    <path id="keyboard_backspace_FILL0_wght400_GRAD0_opsz48_1_" data-name="keyboard_backspace_FILL0_wght400_GRAD0_opsz48 (1)" d="M11.6,22.317l-5-4c-.077-.077.031.077,0,0s0,.092,0,0-.031-.923,0-1-.077.077,0,0l5-4c.122-.122-.2-.992,0-1s.862.862,1,1,0-.191,0,0,.138-.138,0,0l-4,4h14c.2,0-.13-.13,0,0s0,.8,0,1,.13-.13,0,0,.2,0,0,0H8.6l4,4c.122.122-.008-.191,0,0s.138-.138,0,0-.809,1-1,1S11.738,22.455,11.6,22.317Z" transform="translate(-6.572 -12.317)" fill="#1e3050"/>
                  </svg>
                </div>
                <span> Atrás</span></NavLink>
                
                
            </div>
            
            <div className="next position-absolute top-50 end-0 " >
            <button type="submit" className={!!activaSiguiente?"btn nextBTN disabledbutton":"btn nextBTN "}  >Enviar Datos</button>
            <NavLink to= {"/paso-5"} className={!!activaSiguiente?"btn nextBTN ":"btn nextBTN disabledbutton"} > Siguiente </NavLink>

              
            
                
                
            </div>
          </div>
        </footer> 

      </form>
      
      </div>
      
    </div>
)
}
//</script>